{% extends "::base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="dbblock" data-id="1"></div>
        <div class="dbblock" data-id="2"></div>
    </div>
    <div class="col-lg-4">
        <div class="dbblock" data-id="3"></div>
        <div class="dbblock" data-id="4"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function buildPanel( title, iconClass, content )
        {
            return $( '<div></div>' ).append(
                    $( '<div></div>' ).append(
                            $( '<span></span>' ).text( title ),
                            $( '<i></i>' ).addClass( 'fa' ).addClass( iconClass ).addClass( 'fa-fw' )
                    ).addClass( 'panel-heading' ),
                    $( '<div></div>' ).html( content ).addClass( 'panel-body' )
            ).addClass( 'panel' ).addClass( 'panel-default' );
        }

        function getTeammates( id )
        {
            var obj = $( '.dbblock[data-id="' + id + '"]' );
            var title = 'Teammates';
            var iconClass = '';

            $.get( '{{ path('dashboard_teammates') }}', {}, function( response ) {
                var content = '';
                if( response.data.length == 0 )
                {
                    content = '<p class="text-center"> No teammates! </p>';
                }
                else
                {
                    content += '<h4 data-id="' + response.data.team['id'] + '">Team: ' + response.data.team['name'] + '</h4>';

                    if( typeof response.data.users != 'undefined' )
                    {
                        if( response.data.users.length == 0 )
                            content += '<p class="text-center"> No teammates in your team! </p>';
                        else
                        {
                            for( var i = 0; i < response.data.users.length; i++ )
                            {
                                content += '<span data-id="' + response.data.users[i]['id'] + '">' + response.data.users[i]['username'] + '&nbsp;(' + response.data.users[i]['email'] + ')</span>';
                                content += '<br />';
                            }
                        }
                    }
                }

                obj.html( buildPanel( title, iconClass, content ) );
            } );
        }

        function getLastRetrospectives( id )
        {
            var obj = $( '.dbblock[data-id="' + id + '"]' );
            var title = 'Last Retrospectives';
            var iconClass = '';

            $.get( '{{ path('dashboard_last_retrospectives') }}', {}, function( response ) {
                var content = '';
                if( response.data.length == 0 )
                {
                    content = '<p class="text-center"> No retrospectives! </p>';
                }
                else
                {
                    for( var i = 0; i < response.data.length; i++ )
                    {
                        var $d = new Date( response.data[i].date.date );
                        var yyyy = $d.getFullYear().toString();
                        var mm = ($d.getMonth() + 1).toString(); // getMonth() is zero-based
                        var dd = $d.getDate().toString();
                        var date = yyyy + '-' + (mm[1] ? mm : "0" + mm[0]) + '-' + (dd[1] ? dd : "0" + dd[0]);

                        content += date + ' | ';
                        content += '<a href="/meeting/' + response.data[i]['id'] + '">' + response.data[i]['name'] + '</a>';
                        content += ' - by ' + response.data[i]['author_username'];
                        content += response.data[i]['finished'] ? ' - finished' : '';
                        content += '<br />';
                    }
                }

                obj.html( buildPanel( title, iconClass, content ) );
            } );
        }

        function getLastNotifications( id )
        {
            var obj = $( '.dbblock[data-id="' + id + '"]' );
            var title = 'Actions';
            var iconClass = '';
        }

        function getActions( id )
        {
            var obj = $( '.dbblock[data-id="' + id + '"]' );
            var title = 'Actions';
            var iconClass = '';

            $.get( '{{ path('dashboard_actions') }}', {}, function( response ) {
                var content = '';
                if( response.data.length == 0 )
                {
                    content = '<p class="text-center"> No actions! </p>';
                }
                else
                {
                    for( var i = 0; i < response.data.length; i++ )
                    {
                        var checked = response.data[i]['checked']
                            ? 'checked="checked"'
                            : '';

                        content += '<input type="checkbox" ' + checked + ' disabled="disabled" />&nbsp;&nbsp;';
                        content += '<span data-id="' + response.data[i]['id'] + '">' + response.data[i]['text'] + '</span> - ';
                        content += '<a href="/meeting/' + response.data[i]['meeting_id'] + '">' + response.data[i]['meeting_name'] + '</a>';
                    }
                }

                obj.html( buildPanel( title, iconClass, content ) );
            } );
        }

        getActions(1);
        getLastRetrospectives(2);
        getTeammates(3);
        getLastNotifications(4);
    </script>
{% endblock %}
