{% extends "::base.html.twig" %}

{% block title %}AppBundle:Meetings:create{% endblock %}

{% block body %}
    <h1>Invite team mates from {{ app.user.team.name }}</h1>
    {% for teammate in teammates %}
        {% if teammate is not same as(app.user) %}
            <li>{{ teammate.username }} <a href="#" data-meeting-id={{ meeting }} class="invite-user"
                                           data-user-id="{{ app.user.id }}">+</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block javascripts %}
    <script>
        $( function() {
            $( '.invite-user' ).click( function() {
                var userId = $( this ).data( 'user-id' );
                var meetingId = $( this ).data( 'meeting-id' );
                var that = $( this );
                $.post( '/meeting/invite', {
                    id        : userId,
                    meeting_id: meetingId
                }, function( response ) {
                    if( response.message == "Success" ) {
                        that.html( "<span class='fa fa-question'></span>" );
                    }
                } );
            } );
        } );
    </script>
{% endblock %}
