{% extends "::base.html.twig" %}

{% block title %}Create meeting{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Create meeting for {{ app.user.team.name }}</h1>
            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input name="name" value="Retrospective {{ "now"|date("m/d/Y") }}" type="text" class="form-control"
                           id="name"
                           placeholder="Name">
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
{% endblock %}
