.page-wrapper
{
    margin: 20px;
}

.note-draggable {
    background-color: #464545;
    cursor: move;
}

.note-draggable span.delete {
    float: right;
}

.notes-dropdown .dropdown-menu {
    overflow: auto;
    max-height: 340px;
}

.dbblock .dbblock-content {
    min-height: 100px;
}

.dbblock .panel-heading {
    cursor: move;
}

.dbblock-placeholder {
    background-color: #375A7F;
    min-height: 100px;
    border-radius: 5px;
}